---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title="Contact" description="Contact Form" />
  </head>

  <body class="dark:bg-neutral-900 px-4 md:px-0">
    <Header />
    <main
      class="max-w-2xl mx-auto my-8 sm:my-14 dark:text-neutral-200 text-neutral-800"
    >
      <section class="container about" id="about">
        <h1 class="text-3xl sm:text-4xl pb-1 font-bold dark:text-neutral-200">
          About
        </h1>
        <div class="mt-2 sm:mt-6 sm:text-lg">

          <p>As the name suggests, Speak Your Mind was formulated with the 
            idea that everybody should be able to speak their minds. Bring ideas 
            to the forefront to be discussed and improved upon and eventually, 
            hopefully, breathe life into these ideas.</p>
          <p class="mt-4">
            The goal is to build a community where people can write, create 
            and wonder together. A community to foster ideas. Better these 
            ideas. And hopefully, one day, bring them to life.
          </p>
          <p class="mt-4">Whether it be literature or physics, philosophy 
            or finance, the dream was to create a safe space to enrich minds
             with stimulating discourse.</p>
          <p class="mt-4">Whether it be literature or physics, philosophy 
            or finance, the dream was to create a safe space to enrich minds
             with stimulating discourse.</p>
          <p class="mt-4">
            Unfortunately, the website has stalled and become a blog.
          </p>
          <p class="mt-4">So I call upon you, the reader, to help with this 
            end goal in mind. A space built for the community, by the 
            community - wouldn’t that be poetic? 
            <br>
            Whether you’re a writer, a developer or someone with thoughts 
            on anything, I hope you can bring forth your abilities and help 
            nurture this community.
            </p>
          <p class="mt-4">***</p>
          <p class="mt-4">I hope to soon rip out any and all characteristics
             that currently make this website a blog and not a communal space.
        </p>
        </div>
      </section>
      
    </main>
  </body>
</html>
